body {
    background-color: #cccccc;

}

main {
    width: 50%;
    background-color: #2f4f4f;
    margin: auto;
    padding: 5px;
}
main{
    background-image: radial-gradient(#fa8072, #ffb6c1, #ffff00)
}
article:nth-of-type(even) {
    background-color: #00ffff;
}
article:nth-of-type(odd) {
    background-color: #00ff7f;

}
h2{
    border: inset black 1px
}
h2 {
    text-transform: uppercase
}
h2:hover{
    color:purple;
}
.byLine:hover{
    color: gold;
}
.articleDate:hover{
    color:ghostwhite;
}
p:hover {
    color: black;
}
.byLine {
font-style: italic
}
.byLine {
    float: right;
}
p::first-letter {
    color: #ff1493;
    font: bold;
    font-style: italic;
    font-size: 20px;
    
}
p {
color: #b22222;
}

