body {
	/* background-image: url(../images/download.jpg); */
	background-color: #2e2f33;
	/* background: no-repeat; */
}

.wrapper {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 150px 1fr 2fr;
	align-items: center;
	justify-content: space-between;
	grid-template-areas:
		"button loc ."
		"p  h1 clock"
		"cal todo calc";
	grid-gap: 3px;
}
.button:hover,
.date:hover {
	background-color: #578430;
}
.locButton {
	grid-area: button;
	height: 20px;
	width: 100px;
	margin-top: 70px;
	margin-left: auto;
	margin-right: auto;
}
#location {
	grid-area: loc;
	border: 1px solid black;
	width: 200px;
	height: 100px;
	float: right;
	margin: auto;
	color: white;
}
h1 {
	grid-area: h1;
	text-align: center;
	color: white;
	-webkit-text-stroke: 1px #d110db;
}
p {
	grid-area: p;
	color: white;
	margin-left: auto;
	margin-right: auto;
	font-size: 45px;
	-webkit-text-stroke: 1px #d110db;
}
.calendar {
	grid-area: cal;
	width: 300px;
	display: flex;
	border: #d110db 1px solid;
	color: white;
	flex-wrap: wrap;
	align-items: flex-end;
	margin-left: auto;
	margin-right: auto;
}
.list {
	grid-area: todo;
	margin-left: auto;
	margin-right: auto;
	padding-left: auto;
	padding-right: auto;
}
.calcBox {
	grid-area: calc;
}
.clock {
	grid-area: clock;
	align-content: end;
	color: white;
	width: 190px;
	height: 50px;
	border: solid 5px #d110db;
	text-align: center;
	font-size: 45px;
	justify-self: auto;
	margin-left: auto;
	margin-right: auto;
	padding-left: auto;
	padding-right: auto;
	-webkit-text-stroke: 1px #d110db;
}

h1 {
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	padding-left: auto;
	padding-right: auto;
}
.calculator {
	width: 300px;
	display: flex;
	border: black 1px solid;
	justify-content: center;
	align-content: center;
	background-image: url(../images/download.jpg);
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	padding-left: auto;
	padding-right: auto;
}
#display {
	width: 94%;
	height: 25px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	background-color: silver;
	font-size: 10px;
	text-align: right;
	border: #d110db 1px solid;
	margin-left: 2px;
	color: black;
}
.button {
	width: 22%;
	height: 20px;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
	border: solid #d110db 1px;
	margin: 2px;
	text-align: center;
	background-color: silver;
	color: black;
}

.day {
	width: 12%;
	height: 20px;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
	border: solid #d110db 1px;
	margin: 2px;
	text-align: center;
}
.date {
	width: 12%;
	height: 20px;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
	border: solid #d110db 1px;
	margin: 2px;
	text-align: center;
}

.toDo {
	width: 300px;
	height: 200px;
	box-sizing: border-box;
	border: #d110db 1px solid;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-left: auto;
	padding-right: auto;
	opacity: 0.5;
}
.targetBox {
	border: 3px solid rgba(0, 0, 0, 0);
	border-radius: 2px;
	height: 1.5rem;
}
.item {
	color: white;
}
#add {
	height: 1.5rem;
	background-color: #f7f7f7;
	border: none;
	display: inline-block;
}
input:focus {
	outline: none;
}

@media (max-width: 780px) {
	.wrapper {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		/* align-items: center;
			justify-content: space-between; */
		grid-template-areas:
			"h1  cal"
			"todo calc";
		grid-gap: 3px;
	}
	h1 {
		grid-area: h1;
		font-size: 6vw;
	}
	p {
		display: none;
	}
	.calendar {
		grid-area: cal;
		width: 100%;
		height: 100%;
		margin: auto;
	}
	.list {
		grid-area: todo;
		height: 80%;
		width: 100%;
		margin: auto;
	}
	.calcBox {
		grid-area: calc;
	}
	.calculator {
		border: none;
		margin: auto;
	}
	.clock {
		display: none;
		grid-area: clock;
		align-content: end;
		width: 190px;
	}
	.toDo {
		width: 100%;
		height: 100%;
	}
	.location {
		display: none;
	}
	.locButton {
		display: none;
	}
}

@media (max-width: 400px) {
	.wrapper {
		width: 100%;
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 1fr 1fr 2fr 3fr;
		/* align-items: center;
				justify-content: space-between; */
		grid-template-areas:
			"clock"
			"h1"
			"todo"
			"cal";
		align-content: end;
	}
	h1 {
		grid-area: h1;
		font-size: 6vw;
	}
	.calendar {
		grid-area: cal;
		width: 100%;
		height: 100%;
	}
	.list {
		grid-area: todo;
		height: 80%;
		width: 100%;
		margin: auto;
	}
	.calcBox {
		grid-area: calc;
		border: none;
		margin: auto;
		display: none;
	}
	.clock {
		display: grid;
		margin: auto;
		grid-area: clock;
		align-content: center;
		width: 90px;
		height: 45px;
		border: solid 2px black;
		text-align: center;
		font-size: 25px;
		justify-self: auto;
	}
	.toDo {
		width: 100%;
		height: 100%;
	}
	.location {
		display: none;
	}
	.locButton {
		display: none;
	}
}
