body {
	width: 100%;
	height: 100%;
	background: no-repeat;
}
header {
	width: 100%;
	height: 100px;
	margin-top: -20px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	background-color: #282828;
	color: white;
}
nav ul li {
	display: inline-block;
	text-decoration: none;
	padding-left: 20px;
}
ul li a {
	color: white;
}
.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
		/* "header header" */
		"nasa dash"
		"hair vid";
	background-color: #2e2f33;
}
/* header {
	grid-area: header;
	background-color: black;
	width: 100%;
	height: 100%;
	color: white;
} */
h1 {
	margin-left: 625px;
	margin-right: auto;
	font: 60px;
}
.hair {
	grid-area: hair;
}
.nasa {
	grid-area: nasa;
}
.dash {
	grid-area: dash;
}
.video {
	grid-area: vid;
	width: 580px;
	height: 450px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}
iframe {
	width: 580px;
	height: 450px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	border: none;
}

@media (max-width: 580px) {
	iframe {
		width: 300px;
		height: 300px;
		margin-left: auto;
		margin-right: auto;
	}
}
@media (max-width: 790px) {
}
