#bug {
	width: 100px;
	height: 100px;
}
#currentTotal {
	width: 100px;
	height: 50px;
	border: solid black 1px;
}
.button {
	width: 120px;
	height: 20px;
	border: solid black 1px;
	margin-top: 2px;
	margin-bottom: 2px;
	text-align: center;
	padding: auto;
}
