h1 {
	text-align: center;
}

td {
	height: 100px;
	width: 100px;
}

table {
	margin: 5% auto;
}

.vert {
	border-right: 2px solid black;
	border-left: 2px solid black;
}

.horiz {
	border-bottom: 2px solid black;
	border-top: 2px solid black;
}

.box {
	height: 50px;
	width: 50px;
	text-align: center;
	font-size: 50px;
	margin: auto;
}
