body {
	display: grid;
	grid-template-rows: 80px 2fr 1fr;
	background-color: black;
	color: white;
}

h1 {
	text-align: center;
	grid-row: 1/2;
	padding: 0px;
}

td {
	height: 100px;
	width: 100px;
}

table {
	margin: 5% auto;
	grid-row: 2/3;
}

.vert {
	border-right: 2px solid white;
	border-left: 2px solid white;
}

.horiz {
	border-bottom: 2px solid white;
	border-top: 2px solid white;
}

.box {
	height: 50px;
	width: 50px;
	text-align: center;
	font-size: 50px;
	margin: auto;
}
.reset {
	grid-row: 3/4;
	width: 100px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
}
