.gameboard {
	background-color: rgba(0, 0, 0, 0.5);
	height: 90vh;
	width: 90vw;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
.column {
	background-color: white;
	width: 25%;
	margin: 0 auto;
	height: 75%;
	align-self: flex-end;
}
#b1 {
	background: blue;
	height: 20%;
}
#b2 {
	background: teal;
	height: 20%;
}
#b3 {
	background: green;
	height: 20%;
}
#b4 {
	background: yellow;
	height: 20%;
}
#b5 {
	background: orange;
	height: 20%;
}
